.loading-container{
    background-color: none;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-img{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    z-index: 2;
}
#loading-img{
    width: 100%;
    height: 100%;
    display: block;
    z-index: inherit;
}
.loadbar1{
    position: absolute;
    width: 130%;
    left: -15%;
    bottom: -15%;
    height: 130%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid rgb(11, 172, 78);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(-45deg);
    z-index: -1;
    animation: loading1 1.35s infinite;
}
.loadbar2{
    position: absolute;
    width: 115%;
    left: -7.5%;
    bottom: -7.5%;
    height: 115%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid rgb(11, 172, 78);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    z-index: -1;
    animation: loading2 1.35s infinite;
}

@keyframes loading1 {
    100%{
        transform: rotate(-405deg);
    }
}

@keyframes loading2 {
    100%{
        transform: rotate(315deg);
    }
}
